@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    @apply w-full;
  }

  thead {
    @apply table-header-group;
  }

  tr {
    @apply max-w-full relative border-gray-100
      table-row border-b-0 dark:border-slate-800;
  }

  tr:last-child {
    @apply border-b-0;
  }

  td:not(:first-child) {
    @apply border-l border-t-0 border-r-0 border-b-0 border-gray-100 dark:border-slate-700;
  }

  th {
    @apply text-left p-3;
  }

  td {
    @apply flex justify-between py-3 px-4 border-gray-100
      table-cell text-left p-3 align-middle border-b-0 dark:border-slate-800;
  }

  td:last-child {
    @apply border-b-0;
  }

  tbody tr,
  tbody tr:nth-child(odd) {
    @apply hover:bg-gray-100 dark:hover:bg-slate-700/70;
  }

  tbody tr:nth-child(odd) {
    @apply bg-gray-100/50 dark:bg-slate-800/50;
  }

  td:before {
    @apply hidden;
  }
}
